{
  "basePath": "/api",
  "consumes": [
    "application/json"
  ],
  "host": "www.directfreight.com",
  "info": {
    "description": "In order to use the Direct Freight API please first contact us to get an API Token. This token needs to be sent as a HTTP header argument in every request to our API.\n\napi-token=\"SECRET KEY\"\n\nPlease keep your api-token a secret. If the token is compromised please contact us to get a new one.\n\nThis api token authenticates your application and gives it access to the API.\n\nThe API token should not be confused with the end-user-token. That token is given to you via the end_user_authentications endpoint when the user logs in. This token is needed in order to use certain features, and get certain sensitive information.\n\nBoth Tokens are stateless, and delivered via the HTTP headers.",
    "title": "Direct Freight API",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://www.directfreight.com/home/images/logo-direct-freight.png"
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "securityDefinitions": {
    "api_key": {
      "description": "This token needs to be sent as a HTTP header argument in every request to our API.",
      "in": "header",
      "name": "api-token",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "x-restlet": {
    "sections": {
      "ALERTS": {},
      "BILLINGS": {},
      "BOARDS": {},
      "CREDIT_REPORTS": {},
      "END_USER_AUTHENTICATIONS": {},
      "LOCATIONS": {},
      "POSTINGS": {},
      "PROFILES": {},
      "VALIDATIONS": {},
      "common_definitions": {},
      "not categorized yet": {}
    }
  },
  "parameters": {
    "end-user-token": {
      "in": "header",
      "name": "end-user-token",
      "required": true,
      "type": "string"
    },
    "end-user-token-optional": {
      "in": "header",
      "name": "end-user-token",
      "required": false,
      "type": "string"
    },
    "board_type": {
      "description": "Valid types are \"loads\", and \"trucks\".",
      "enum": [
        "loads",
        "trucks"
      ],
      "in": "path",
      "name": "board_type",
      "required": true,
      "type": "string"
    },
    "posting_type": {
      "description": "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\"",
      "enum": [
        "loads",
        "trucks",
        "private_loads",
        "private_trucks",
        "test_loads",
        "test_trucks"
      ],
      "in": "path",
      "name": "posting_type",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "error_422": {
      "description": "Unprocessable Entity. More information provided in the return object.",
      "schema": {
        "$ref": "#/definitions/error_object"
      }
    },
    "object_created": {
      "description": "Object created check the headers for a reference URL.",
      "schema": {
        "$ref": "#/definitions/create_status"
      }
    }
  },
  "paths": {
    "/alerts/{board_type}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/end-user-token"
          },
          {
            "description": "Specify to just delete some alerts.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "alert_id",
            "required": true,
            "type": "array"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "summary": "STAGE=UNK Delete an alert.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\");\nvar request = new RestRequest(Method.DELETE);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "curl",
            "source": "curl --request DELETE \\\n  --url 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n  .delete(null)\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.delete(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\",\n  \"method\": \"DELETE\",\n  \"headers\": {}\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'DELETE',\n  url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',\n  qs: { alert_id: 'SOME_ARRAY_VALUE' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"DELETE\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nreq.query({\n  \"alert_id\": \"SOME_ARRAY_VALUE\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"DELETE\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\" in\n\nClient.call `DELETE uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"DELETE\",\n\"'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'\");\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setMethod(HTTP_METH_DELETE);\n\n$request->setQueryData(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setRequestMethod('DELETE');\n$request->setQuery(new http\\QueryString(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n)));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.directfreight.com\")\n\nconn.request(\"DELETE\", \"/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\nquerystring = {\"alert_id\":\"SOME_ARRAY_VALUE\"}\n\nresponse = requests.request(\"DELETE\", url, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Delete.new(url)\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_httpie",
            "source": "http DELETE 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"DELETE\"\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "wget",
            "source": "wget --quiet \\\n  --method DELETE \\\n  --output-document \\\n  - 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'"
          }
        ]
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/end-user-token"
          },
          {
            "description": "only get a subset of alerts. As this is a get request this is specified as a query string parameter.",
            "in": "query",
            "items": {
              "type": "integer"
            },
            "name": "alert_id",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "On success will return a list of alerts.",
            "schema": {
              "$ref": "#/definitions/alert_list"
            }
          }
        },
        "summary": "STAGE=UNK Get a list of alerts. You can optionally limit the list by specifcying alerts by their alert_id.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\");\nvar request = new RestRequest(Method.GET);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "curl",
            "source": "curl --request GET \\\n  --url 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {}\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'GET',\n  url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',\n  qs: { alert_id: 'SOME_ARRAY_VALUE' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"GET\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nreq.query({\n  \"alert_id\": \"SOME_ARRAY_VALUE\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\" in\n\nClient.call `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"GET\",\n\"'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'\");\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n)));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.directfreight.com\")\n\nconn.request(\"GET\", \"/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\nquerystring = {\"alert_id\":\"SOME_ARRAY_VALUE\"}\n\nresponse = requests.request(\"GET\", url, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_httpie",
            "source": "http GET 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"GET\"\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "wget",
            "source": "wget --quiet \\\n  --method GET \\\n  --output-document \\\n  - 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/board_type"
        }
      ],
      "patch": {
        "consumes": [],
        "description": "Search objects are set at creation. You cannot modify them after the alert has been created.",
        "parameters": [
          {
            "$ref": "#/parameters/end-user-token"
          },
          {
            "description": "Specify which alert you are updating.",
            "in": "query",
            "name": "alert_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patch_alert_properties"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returned on response."
          }
        },
        "summary": "STAGE=UNK Update an alert.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"PATCH\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\");\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\");\nvar request = new RestRequest(Method.PATCH);\nrequest.AddParameter(\"undefined\", \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "curl",
            "source": "curl --request PATCH \\\n  --url 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE' \\\n  --data '{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}'"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\"\n\n\tpayload := strings.NewReader(\"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\");\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\")\n  .patch(body)\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.patch(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\")\n  .body(\"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\",\n  \"method\": \"PATCH\",\n  \"headers\": {},\n  \"processData\": false,\n  \"data\": \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"days_of_week\": {},\n  \"end_hour\": {},\n  \"expires_after\": {},\n  \"list_order\": {},\n  \"list_type\": {},\n  \"minute_frequency\": {},\n  \"send_type\": {},\n  \"start_hour\": {},\n  \"time_zone\": {}\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PATCH\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"PATCH\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ days_of_week: {},\n  end_hour: {},\n  expires_after: {},\n  list_order: {},\n  list_type: {},\n  minute_frequency: {},\n  send_type: {},\n  start_hour: {},\n  time_zone: {} }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'PATCH',\n  url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',\n  qs: { alert_id: 'SOME_STRING_VALUE' },\n  body: \n   { days_of_week: {},\n     end_hour: {},\n     expires_after: {},\n     list_order: {},\n     list_type: {},\n     minute_frequency: {},\n     send_type: {},\n     start_hour: {},\n     time_zone: {} },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"PATCH\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nreq.query({\n  \"alert_id\": \"SOME_STRING_VALUE\"\n});\n\nreq.type(\"json\");\nreq.send({\n  \"days_of_week\": {},\n  \"end_hour\": {},\n  \"expires_after\": {},\n  \"list_order\": {},\n  \"list_type\": {},\n  \"minute_frequency\": {},\n  \"send_type\": {},\n  \"start_hour\": {},\n  \"time_zone\": {}\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\nNSDictionary *parameters = @{ @\"days_of_week\": @{  },\n                              @\"end_hour\": @{  },\n                              @\"expires_after\": @{  },\n                              @\"list_order\": @{  },\n                              @\"list_type\": @{  },\n                              @\"minute_frequency\": @{  },\n                              @\"send_type\": @{  },\n                              @\"start_hour\": @{  },\n                              @\"time_zone\": @{  } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"PATCH\"];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\" in\nlet body = Cohttp_lwt_body.of_string \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\" in\n\nClient.call ~body `PATCH uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"PATCH\",\n\"'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE'\");\n$request->content('{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setQueryData(array(\n  'alert_id' => 'SOME_STRING_VALUE'\n));\n\n$request->setBody('{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}');\n\n$request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setQuery(new http\\QueryString(array(\n  'alert_id' => 'SOME_STRING_VALUE'\n)));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.directfreight.com\")\n\npayload = \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\"\n\nconn.request(\"PATCH\", \"/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\", payload)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\nquerystring = {\"alert_id\":\"SOME_STRING_VALUE\"}\n\npayload = \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\"\nresponse = requests.request(\"PATCH\", url, data=payload, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Patch.new(url)\nrequest.body = \"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_httpie",
            "source": "echo '{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}' |  \\\n  http PATCH 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE'"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\nlet parameters = [\n  \"days_of_week\": [],\n  \"end_hour\": [],\n  \"expires_after\": [],\n  \"list_order\": [],\n  \"list_type\": [],\n  \"minute_frequency\": [],\n  \"send_type\": [],\n  \"start_hour\": [],\n  \"time_zone\": []\n]\n\nlet postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"PATCH\"\nrequest.HTTPBody = postData\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "wget",
            "source": "wget --quiet \\\n  --method PATCH \\\n  --body-data '{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}' \\\n  --output-document \\\n  - 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE'"
          }
        ]
      },
      "post": {
        "consumes": [],
        "description": "Any parameter that is defined here and is also defined on the boards GET, follows the same rules.",
        "parameters": [
          {
            "$ref": "#/parameters/end-user-token"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alert"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/object_created"
          }
        },
        "summary": "STAGE=UNK Create an alert.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\nvar request = new RestRequest(Method.POST);\nrequest.AddParameter(\"undefined\", \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "curl",
            "source": "curl --request POST \\\n  --url https://www.directfreight.com/api/alerts/%7Bboard_type%7D \\\n  --data '{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}'"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\n\tpayload := strings.NewReader(\"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")\n  .post(body)\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")\n  .body(\"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\",\n  \"method\": \"POST\",\n  \"headers\": {},\n  \"processData\": false,\n  \"data\": \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"days_of_week\": {},\n  \"email_address\": \"<ADD STRING VALUE>\",\n  \"end_hour\": {},\n  \"expires_after\": {},\n  \"list_order\": {},\n  \"list_type\": {},\n  \"minute_frequency\": {},\n  \"send_type\": {},\n  \"start_hour\": {},\n  \"time_zone\": {},\n  \"search\": {\n    \"search_id\": 0,\n    \"search_type\": \"<ADD STRING VALUE>\",\n    \"date_received\": \"<ADD STRING VALUE>\",\n    \"trailers\": \"<ADD STRING VALUE>\",\n    \"date_available\": \"<ADD STRING VALUE>\",\n    \"origin_state\": \"<ADD STRING VALUE>\",\n    \"origin_city\": \"<ADD STRING VALUE>\",\n    \"origin_radius\": 0,\n    \"destination_state\": \"<ADD STRING VALUE>\",\n    \"destination_city\": \"<ADD STRING VALUE>\",\n    \"destination_radius\": 0,\n    \"load_size\": \"<ADD STRING VALUE>\"\n  }\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"POST\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/alerts/%7Bboard_type%7D\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ days_of_week: {},\n  email_address: '<ADD STRING VALUE>',\n  end_hour: {},\n  expires_after: {},\n  list_order: {},\n  list_type: {},\n  minute_frequency: {},\n  send_type: {},\n  start_hour: {},\n  time_zone: {},\n  search: \n   { search_id: 0,\n     search_type: '<ADD STRING VALUE>',\n     date_received: '<ADD STRING VALUE>',\n     trailers: '<ADD STRING VALUE>',\n     date_available: '<ADD STRING VALUE>',\n     origin_state: '<ADD STRING VALUE>',\n     origin_city: '<ADD STRING VALUE>',\n     origin_radius: 0,\n     destination_state: '<ADD STRING VALUE>',\n     destination_city: '<ADD STRING VALUE>',\n     destination_radius: 0,\n     load_size: '<ADD STRING VALUE>' } }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'POST',\n  url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',\n  body: \n   { days_of_week: {},\n     email_address: '<ADD STRING VALUE>',\n     end_hour: {},\n     expires_after: {},\n     list_order: {},\n     list_type: {},\n     minute_frequency: {},\n     send_type: {},\n     start_hour: {},\n     time_zone: {},\n     search: \n      { search_id: 0,\n        search_type: '<ADD STRING VALUE>',\n        date_received: '<ADD STRING VALUE>',\n        trailers: '<ADD STRING VALUE>',\n        date_available: '<ADD STRING VALUE>',\n        origin_state: '<ADD STRING VALUE>',\n        origin_city: '<ADD STRING VALUE>',\n        origin_radius: 0,\n        destination_state: '<ADD STRING VALUE>',\n        destination_city: '<ADD STRING VALUE>',\n        destination_radius: 0,\n        load_size: '<ADD STRING VALUE>' } },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"POST\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nreq.type(\"json\");\nreq.send({\n  \"days_of_week\": {},\n  \"email_address\": \"<ADD STRING VALUE>\",\n  \"end_hour\": {},\n  \"expires_after\": {},\n  \"list_order\": {},\n  \"list_type\": {},\n  \"minute_frequency\": {},\n  \"send_type\": {},\n  \"start_hour\": {},\n  \"time_zone\": {},\n  \"search\": {\n    \"search_id\": 0,\n    \"search_type\": \"<ADD STRING VALUE>\",\n    \"date_received\": \"<ADD STRING VALUE>\",\n    \"trailers\": \"<ADD STRING VALUE>\",\n    \"date_available\": \"<ADD STRING VALUE>\",\n    \"origin_state\": \"<ADD STRING VALUE>\",\n    \"origin_city\": \"<ADD STRING VALUE>\",\n    \"origin_radius\": 0,\n    \"destination_state\": \"<ADD STRING VALUE>\",\n    \"destination_city\": \"<ADD STRING VALUE>\",\n    \"destination_radius\": 0,\n    \"load_size\": \"<ADD STRING VALUE>\"\n  }\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\nNSDictionary *parameters = @{ @\"days_of_week\": @{  },\n                              @\"email_address\": @\"<ADD STRING VALUE>\",\n                              @\"end_hour\": @{  },\n                              @\"expires_after\": @{  },\n                              @\"list_order\": @{  },\n                              @\"list_type\": @{  },\n                              @\"minute_frequency\": @{  },\n                              @\"send_type\": @{  },\n                              @\"start_hour\": @{  },\n                              @\"time_zone\": @{  },\n                              @\"search\": @{ @\"search_id\": @0, @\"search_type\": @\"<ADD STRING VALUE>\", @\"date_received\": @\"<ADD STRING VALUE>\", @\"trailers\": @\"<ADD STRING VALUE>\", @\"date_available\": @\"<ADD STRING VALUE>\", @\"origin_state\": @\"<ADD STRING VALUE>\", @\"origin_city\": @\"<ADD STRING VALUE>\", @\"origin_radius\": @0, @\"destination_state\": @\"<ADD STRING VALUE>\", @\"destination_city\": @\"<ADD STRING VALUE>\", @\"destination_radius\": @0, @\"load_size\": @\"<ADD STRING VALUE>\" } };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\" in\nlet body = Cohttp_lwt_body.of_string \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\" in\n\nClient.call ~body `POST uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"POST\",\n\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n$request->content('{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setBody('{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}');\n\n$request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.directfreight.com\")\n\npayload = \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\"\n\nconn.request(\"POST\", \"/api/alerts/%7Bboard_type%7D\", payload)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\npayload = \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\"\nresponse = requests.request(\"POST\", url, data=payload)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest.body = \"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_httpie",
            "source": "echo '{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}' |  \\\n  http POST https://www.directfreight.com/api/alerts/%7Bboard_type%7D"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\nlet parameters = [\n  \"days_of_week\": [],\n  \"email_address\": \"<ADD STRING VALUE>\",\n  \"end_hour\": [],\n  \"expires_after\": [],\n  \"list_order\": [],\n  \"list_type\": [],\n  \"minute_frequency\": [],\n  \"send_type\": [],\n  \"start_hour\": [],\n  \"time_zone\": [],\n  \"search\": [\n    \"search_id\": 0,\n    \"search_type\": \"<ADD STRING VALUE>\",\n    \"date_received\": \"<ADD STRING VALUE>\",\n    \"trailers\": \"<ADD STRING VALUE>\",\n    \"date_available\": \"<ADD STRING VALUE>\",\n    \"origin_state\": \"<ADD STRING VALUE>\",\n    \"origin_city\": \"<ADD STRING VALUE>\",\n    \"origin_radius\": 0,\n    \"destination_state\": \"<ADD STRING VALUE>\",\n    \"destination_city\": \"<ADD STRING VALUE>\",\n    \"destination_radius\": 0,\n    \"load_size\": \"<ADD STRING VALUE>\"\n  ]\n]\n\nlet postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"POST\"\nrequest.HTTPBody = postData\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "wget",
            "source": "wget --quiet \\\n  --method POST \\\n  --body-data '{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}' \\\n  --output-document \\\n  - https://www.directfreight.com/api/alerts/%7Bboard_type%7D"
          }
        ]
      },
      "x-restlet": {
        "section": "ALERTS",
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"X-RESTLET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "Method not supported"
          },
          {
            "lang": "curl",
            "source": "curl --request X-RESTLET \\\n  --url https://www.directfreight.com/api/alerts/%7Bboard_type%7D"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")\n  .method(\"X-RESTLET\", null)\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.customMethod(\"X-RESTLET\",\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\",\n  \"method\": \"X-RESTLET\",\n  \"headers\": {}\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"X-RESTLET\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"X-RESTLET\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/alerts/%7Bboard_type%7D\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'X-RESTLET',\n  url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D' };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"X-RESTLET\", \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"X-RESTLET\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\" in\n\nClient.call (Code.method_of_string \"X-RESTLET\") uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"X-RESTLET\",\n\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\");\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"X-RESTLET\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('X-RESTLET');\n$request = new HttpRequest();\n$request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setMethod(HttpRequest::HTTP_METH_X-RESTLET);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');\n$request->setRequestMethod('X-RESTLET');\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.directfreight.com\")\n\nconn.request(\"X-RESTLET\", \"/api/alerts/%7Bboard_type%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\nresponse = requests.request(\"X-RESTLET\", url)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nclass Net::HTTP::X-restlet < Net::HTTPRequest\n  METHOD = 'X-RESTLET'\n  REQUEST_HAS_BODY = 'false'\n  RESPONSE_HAS_BODY = true\nend\n\nurl = URI(\"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::X-restlet.new(url)\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_httpie",
            "source": "http X-RESTLET https://www.directfreight.com/api/alerts/%7Bboard_type%7D"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"X-RESTLET\"\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "wget",
            "source": "wget --quiet \\\n  --method X-RESTLET \\\n  --output-document \\\n  - https://www.directfreight.com/api/alerts/%7Bboard_type%7D"
          }
        ]
      }
    },
    "/billings": {
      "get": {
        "description": "Will return how much the end user will be charged to upgrade. It will not charge the user, or consume the promo code.",
        "parameters": [
          {
            "$ref": "#/parameters/end-user-token"
          },
          {
            "description": "The promo code. ",
            "in": "query",
            "name": "promo_code",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/get_billing_response"
            }
          }
        },
        "summary": "STAGE=UNK Returns the amount the end user will be charged. If a promo code is present return adjusted amount. If there are special conditions a string with the promo code benefits will also be returned.",
        "tags": [
          "billings"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\");\nvar request = new RestRequest(Method.GET);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "curl",
            "source": "curl --request GET \\\n  --url 'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\")\n  .get()\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {}\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/billings?promo_code=SOME_STRING_VALUE\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'GET',\n  url: 'https://www.directfreight.com/api/billings',\n  qs: { promo_code: 'SOME_STRING_VALUE' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"GET\", \"https://www.directfreight.com/api/billings\");\n\nreq.query({\n  \"promo_code\": \"SOME_STRING_VALUE\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\" in\n\nClient.call `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"GET\",\n\"'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'\");\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://www.directfreight.com/api/billings');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData(array(\n  'promo_code' => 'SOME_STRING_VALUE'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://www.directfreight.com/api/billings');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString(array(\n  'promo_code' => 'SOME_STRING_VALUE'\n)));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"www.directfreight.com\")\n\nconn.request(\"GET\", \"/api/billings?promo_code=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://www.directfreight.com/api/billings\"\n\nquerystring = {\"promo_code\":\"SOME_STRING_VALUE\"}\n\nresponse = requests.request(\"GET\", url, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_httpie",
            "source": "http GET 'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"GET\"\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          },
          {
            "lang": "wget",
            "source": "wget --quiet \\\n  --method GET \\\n  --output-document \\\n  - 'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'"
          }
        ]
      },
      "post": {
        "consumes": [],
        "description": "This function will attempt to process a payment, and upgrade a non subscibed user. ",
        "parameters": [
          {
            "$ref": "#/parameters/end-user-token"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/bill_user"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/object_created"
          }
        },
        "summary": "STAGE=UNK This function will attempt to process a payment, and upgrade a non subscibed user. ",
        "tags": [
          "billings"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://www.directfreight.com/api/billings\");\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://www.directfreight.com/api/billings\");\nvar request = new RestRequest(Method.POST);\nrequest.AddParameter(\"undefined\", \"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "curl",
            "source": "curl --request POST \\\n  --url https://www.directfreight.com/api/billings \\\n  --data '{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}'"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/billings\"\n\n\tpayload := strings.NewReader(\"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://www.directfreight.com/api/billings\")\n  .post(body)\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://www.directfreight.com/api/billings\")\n  .body(\"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://www.directfreight.com/api/billings\",\n  \"method\": \"POST\",\n  \"headers\": {},\n  \"processData\": false,\n  \"data\": \"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"billing_address\": {},\n  \"cc_data\": {},\n  \"check_data\": {},\n  \"promo_code\": \"<ADD STRING VALUE>\"\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://www.directfreight.com/api/billings\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"POST\",\n  \"hostname\": \"www.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/api/billings\",\n  \"headers\": {}\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ billing_address: {},\n  cc_data: {},\n  check_data: {},\n  promo_code: '<ADD STRING VALUE>' }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'POST',\n  url: 'https://www.directfreight.com/api/billings',\n  body: \n   { billing_address: {},\n     cc_data: {},\n     check_data: {},\n     promo_code: '<ADD STRING VALUE>' },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"POST\", \"https://www.directfreight.com/api/billings\");\n\nreq.type(\"json\");\nreq.send({\n  \"billing_address\": {},\n  \"cc_data\": {},\n  \"check_data\": {},\n  \"promo_code\": \"<ADD STRING VALUE>\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\nNSDictionary *parameters = @{ @\"billing_address\": @{  },\n                              @\"cc_data\": @{  },\n                              @\"check_data\": @{  },\n                              @\"promo_code\": @\"<ADD STRING VALUE>\" };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://www.directfreight.com/api/billings\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://www.directfreight.com/api/billings\" in\nlet body = Cohttp_lwt_body.of_string \"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\" in\n\nClient.call ~body `POST uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"POST\",\n\"https://www.directfreight.com/api/billings\");\n$request->content('{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://www.directfreight.com/api/billings\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
[...]
