basePath: /api
consumes:
  - application/json
host: www.directfreight.com
info:
  description: |-
    In order to use the Direct Freight API please first contact us to get an API Token. This token needs to be sent as a HTTP header argument in every request to our API.

    api-token="SECRET KEY"

    Please keep your api-token a secret. If the token is compromised please contact us to get a new one.

    This api token authenticates your application and gives it access to the API.

    The API token should not be confused with the end-user-token. That token is given to you via the end_user_authentications endpoint when the user logs in. This token is needed in order to use certain features, and get certain sensitive information.

    Both Tokens are stateless, and delivered via the HTTP headers.
  title: Direct Freight API
  version: 2.0.0
  x-logo:
    url: 'https://www.directfreight.com/home/images/logo-direct-freight.png'
produces:
  - application/json
schemes:
  - https
security:
  - api_key: []
securityDefinitions:
  api_key:
    description: This token needs to be sent as a HTTP header argument in every request to our API.
    in: header
    name: api-token
    type: apiKey
swagger: '2.0'
x-restlet:
  sections:
    ALERTS: {}
    BILLINGS: {}
    BOARDS: {}
    CREDIT_REPORTS: {}
    END_USER_AUTHENTICATIONS: {}
    LOCATIONS: {}
    POSTINGS: {}
    PROFILES: {}
    VALIDATIONS: {}
    common_definitions: {}
    not categorized yet: {}
parameters:
  end-user-token:
    in: header
    name: end-user-token
    required: true
    type: string
  end-user-token-optional:
    in: header
    name: end-user-token
    required: false
    type: string
  board_type:
    description: 'Valid types are "loads", and "trucks".'
    enum:
      - loads
      - trucks
    in: path
    name: board_type
    required: true
    type: string
  posting_type:
    description: 'Valid types are "loads", "trucks", "private_loads", "private_trucks", "test_loads", and "test_trucks"'
    enum:
      - loads
      - trucks
      - private_loads
      - private_trucks
      - test_loads
      - test_trucks
    in: path
    name: posting_type
    required: true
    type: string
responses:
  error_422:
    description: Unprocessable Entity. More information provided in the return object.
    schema:
      $ref: '#/definitions/error_object'
  object_created:
    description: Object created check the headers for a reference URL.
    schema:
      $ref: '#/definitions/create_status'
paths:
  '/alerts/{board_type}':
    delete:
      parameters:
        - $ref: '#/parameters/end-user-token'
        - description: Specify to just delete some alerts.
          in: query
          items:
            type: string
          name: alert_id
          required: true
          type: array
      responses:
        '204':
          description: successful operation
      summary: STAGE=UNK Delete an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE");
            var request = new RestRequest(Method.DELETE);
            IRestResponse response = client.Execute(request);
        - lang: curl
          source: |-
            curl --request DELETE \
              --url 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")
              .delete(null)
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.delete("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE",
              "method": "DELETE",
              "headers": {}
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("DELETE", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "DELETE",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'DELETE',
              url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',
              qs: { alert_id: 'SOME_ARRAY_VALUE' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("DELETE", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            req.query({
              "alert_id": "SOME_ARRAY_VALUE"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"DELETE"];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE" in

            Client.call `DELETE uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("DELETE",
            "'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'");
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setMethod(HTTP_METH_DELETE);

            $request->setQueryData(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setRequestMethod('DELETE');
            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            )));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.directfreight.com")

            conn.request("DELETE", "/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.directfreight.com/api/alerts/%7Bboard_type%7D"

            querystring = {"alert_id":"SOME_ARRAY_VALUE"}

            response = requests.request("DELETE", url, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Delete.new(url)

            response = http.request(request)
            puts response.read_body
        - lang: Shell_httpie
          source: 'http DELETE ''https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'''
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "DELETE"

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
        - lang: wget
          source: |-
            wget --quiet \
              --method DELETE \
              --output-document \
              - 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'
    get:
      parameters:
        - $ref: '#/parameters/end-user-token'
        - description: only get a subset of alerts. As this is a get request this is specified as a query string parameter.
          in: query
          items:
            type: integer
          name: alert_id
          required: false
          type: array
      responses:
        '200':
          description: On success will return a list of alerts.
          schema:
            $ref: '#/definitions/alert_list'
      summary: STAGE=UNK Get a list of alerts. You can optionally limit the list by specifcying alerts by their alert_id.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE");
            var request = new RestRequest(Method.GET);
            IRestResponse response = client.Execute(request);
        - lang: curl
          source: |-
            curl --request GET \
              --url 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")
              .get()
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.get("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE",
              "method": "GET",
              "headers": {}
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("GET", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "GET",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',
              qs: { alert_id: 'SOME_ARRAY_VALUE' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("GET", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            req.query({
              "alert_id": "SOME_ARRAY_VALUE"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE" in

            Client.call `GET uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("GET",
            "'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'");
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setMethod(HTTP_METH_GET);

            $request->setQueryData(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setRequestMethod('GET');
            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            )));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.directfreight.com")

            conn.request("GET", "/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.directfreight.com/api/alerts/%7Bboard_type%7D"

            querystring = {"alert_id":"SOME_ARRAY_VALUE"}

            response = requests.request("GET", url, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)

            response = http.request(request)
            puts response.read_body
        - lang: Shell_httpie
          source: 'http GET ''https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'''
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "GET"

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
        - lang: wget
          source: |-
            wget --quiet \
              --method GET \
              --output-document \
              - 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_ARRAY_VALUE'
    parameters:
      - $ref: '#/parameters/board_type'
    patch:
      consumes: []
      description: Search objects are set at creation. You cannot modify them after the alert has been created.
      parameters:
        - $ref: '#/parameters/end-user-token'
        - description: Specify which alert you are updating.
          in: query
          name: alert_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/patch_alert_properties'
      responses:
        '204':
          description: Returned on response.
      summary: STAGE=UNK Update an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "PATCH");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE");

            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE");
            var request = new RestRequest(Method.PATCH);
            request.AddParameter("undefined", "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: curl
          source: |-
            curl --request PATCH \
              --url 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE' \
              --data '{"days_of_week":{},"end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{}}'
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE\"\n\n\tpayload := strings.NewReader(\"{\\\"days_of_week\\\":{},\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{}}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}");
            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE")
              .patch(body)
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.patch("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE")
              .body("{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE",
              "method": "PATCH",
              "headers": {},
              "processData": false,
              "data": "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = JSON.stringify({
              "days_of_week": {},
              "end_hour": {},
              "expires_after": {},
              "list_order": {},
              "list_type": {},
              "minute_frequency": {},
              "send_type": {},
              "start_hour": {},
              "time_zone": {}
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("PATCH", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "PATCH",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({ days_of_week: {},
              end_hour: {},
              expires_after: {},
              list_order: {},
              list_type: {},
              minute_frequency: {},
              send_type: {},
              start_hour: {},
              time_zone: {} }));
            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'PATCH',
              url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',
              qs: { alert_id: 'SOME_STRING_VALUE' },
              body: 
               { days_of_week: {},
                 end_hour: {},
                 expires_after: {},
                 list_order: {},
                 list_type: {},
                 minute_frequency: {},
                 send_type: {},
                 start_hour: {},
                 time_zone: {} },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("PATCH", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            req.query({
              "alert_id": "SOME_STRING_VALUE"
            });

            req.type("json");
            req.send({
              "days_of_week": {},
              "end_hour": {},
              "expires_after": {},
              "list_order": {},
              "list_type": {},
              "minute_frequency": {},
              "send_type": {},
              "start_hour": {},
              "time_zone": {}
            });

            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>
            NSDictionary *parameters = @{ @"days_of_week": @{  },
                                          @"end_hour": @{  },
                                          @"expires_after": @{  },
                                          @"list_order": @{  },
                                          @"list_type": @{  },
                                          @"minute_frequency": @{  },
                                          @"send_type": @{  },
                                          @"start_hour": @{  },
                                          @"time_zone": @{  } };

            NSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"PATCH"];
            [request setHTTPBody:postData];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE" in
            let body = Cohttp_lwt_body.of_string "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}" in

            Client.call ~body `PATCH uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("PATCH",
            "'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE'");
            $request->content('{"days_of_week":{},"end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{}}');
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PATCH",
              CURLOPT_POSTFIELDS => "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}",
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            HttpRequest::methodRegister('PATCH');
            $request = new HttpRequest();
            $request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setMethod(HttpRequest::HTTP_METH_PATCH);

            $request->setQueryData(array(
              'alert_id' => 'SOME_STRING_VALUE'
            ));

            $request->setBody('{"days_of_week":{},"end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{}}');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $body = new http\Message\Body;
            $body->append('{"days_of_week":{},"end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{}}');

            $request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setRequestMethod('PATCH');
            $request->setBody($body);

            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_STRING_VALUE'
            )));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.directfreight.com")

            payload = "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}"

            conn.request("PATCH", "/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE", payload)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.directfreight.com/api/alerts/%7Bboard_type%7D"

            querystring = {"alert_id":"SOME_STRING_VALUE"}

            payload = "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}"
            response = requests.request("PATCH", url, data=payload, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Patch.new(url)
            request.body = "{\"days_of_week\":{},\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{}}"

            response = http.request(request)
            puts response.read_body
        - lang: Shell_httpie
          source: |-
            echo '{"days_of_week":{},"end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{}}' |  \
              http PATCH 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE'
        - lang: Swift_nsurlsession
          source: |-
            import Foundation
            let parameters = [
              "days_of_week": [],
              "end_hour": [],
              "expires_after": [],
              "list_order": [],
              "list_type": [],
              "minute_frequency": [],
              "send_type": [],
              "start_hour": [],
              "time_zone": []
            ]

            let postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "PATCH"
            request.HTTPBody = postData

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
        - lang: wget
          source: |-
            wget --quiet \
              --method PATCH \
              --body-data '{"days_of_week":{},"end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{}}' \
              --output-document \
              - 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D?alert_id=SOME_STRING_VALUE'
    post:
      consumes: []
      description: 'Any parameter that is defined here and is also defined on the boards GET, follows the same rules.'
      parameters:
        - $ref: '#/parameters/end-user-token'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/alert'
      responses:
        '201':
          $ref: '#/responses/object_created'
      summary: STAGE=UNK Create an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.directfreight.com/api/alerts/%7Bboard_type%7D");
            var request = new RestRequest(Method.POST);
            request.AddParameter("undefined", "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: curl
          source: |-
            curl --request POST \
              --url https://www.directfreight.com/api/alerts/%7Bboard_type%7D \
              --data '{"days_of_week":{},"email_address":"<ADD STRING VALUE>","end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{},"search":{"search_id":0,"search_type":"<ADD STRING VALUE>","date_received":"<ADD STRING VALUE>","trailers":"<ADD STRING VALUE>","date_available":"<ADD STRING VALUE>","origin_state":"<ADD STRING VALUE>","origin_city":"<ADD STRING VALUE>","origin_radius":0,"destination_state":"<ADD STRING VALUE>","destination_city":"<ADD STRING VALUE>","destination_radius":0,"load_size":"<ADD STRING VALUE>"}}'
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\n\tpayload := strings.NewReader(\"{\\\"days_of_week\\\":{},\\\"email_address\\\":\\\"<ADD STRING VALUE>\\\",\\\"end_hour\\\":{},\\\"expires_after\\\":{},\\\"list_order\\\":{},\\\"list_type\\\":{},\\\"minute_frequency\\\":{},\\\"send_type\\\":{},\\\"start_hour\\\":{},\\\"time_zone\\\":{},\\\"search\\\":{\\\"search_id\\\":0,\\\"search_type\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_received\\\":\\\"<ADD STRING VALUE>\\\",\\\"trailers\\\":\\\"<ADD STRING VALUE>\\\",\\\"date_available\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"origin_radius\\\":0,\\\"destination_state\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_city\\\":\\\"<ADD STRING VALUE>\\\",\\\"destination_radius\\\":0,\\\"load_size\\\":\\\"<ADD STRING VALUE>\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}");
            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/alerts/%7Bboard_type%7D")
              .post(body)
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.post("https://www.directfreight.com/api/alerts/%7Bboard_type%7D")
              .body("{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/alerts/%7Bboard_type%7D",
              "method": "POST",
              "headers": {},
              "processData": false,
              "data": "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = JSON.stringify({
              "days_of_week": {},
              "email_address": "<ADD STRING VALUE>",
              "end_hour": {},
              "expires_after": {},
              "list_order": {},
              "list_type": {},
              "minute_frequency": {},
              "send_type": {},
              "start_hour": {},
              "time_zone": {},
              "search": {
                "search_id": 0,
                "search_type": "<ADD STRING VALUE>",
                "date_received": "<ADD STRING VALUE>",
                "trailers": "<ADD STRING VALUE>",
                "date_available": "<ADD STRING VALUE>",
                "origin_state": "<ADD STRING VALUE>",
                "origin_city": "<ADD STRING VALUE>",
                "origin_radius": 0,
                "destination_state": "<ADD STRING VALUE>",
                "destination_city": "<ADD STRING VALUE>",
                "destination_radius": 0,
                "load_size": "<ADD STRING VALUE>"
              }
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("POST", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "POST",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/alerts/%7Bboard_type%7D",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({ days_of_week: {},
              email_address: '<ADD STRING VALUE>',
              end_hour: {},
              expires_after: {},
              list_order: {},
              list_type: {},
              minute_frequency: {},
              send_type: {},
              start_hour: {},
              time_zone: {},
              search: 
               { search_id: 0,
                 search_type: '<ADD STRING VALUE>',
                 date_received: '<ADD STRING VALUE>',
                 trailers: '<ADD STRING VALUE>',
                 date_available: '<ADD STRING VALUE>',
                 origin_state: '<ADD STRING VALUE>',
                 origin_city: '<ADD STRING VALUE>',
                 origin_radius: 0,
                 destination_state: '<ADD STRING VALUE>',
                 destination_city: '<ADD STRING VALUE>',
                 destination_radius: 0,
                 load_size: '<ADD STRING VALUE>' } }));
            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D',
              body: 
               { days_of_week: {},
                 email_address: '<ADD STRING VALUE>',
                 end_hour: {},
                 expires_after: {},
                 list_order: {},
                 list_type: {},
                 minute_frequency: {},
                 send_type: {},
                 start_hour: {},
                 time_zone: {},
                 search: 
                  { search_id: 0,
                    search_type: '<ADD STRING VALUE>',
                    date_received: '<ADD STRING VALUE>',
                    trailers: '<ADD STRING VALUE>',
                    date_available: '<ADD STRING VALUE>',
                    origin_state: '<ADD STRING VALUE>',
                    origin_city: '<ADD STRING VALUE>',
                    origin_radius: 0,
                    destination_state: '<ADD STRING VALUE>',
                    destination_city: '<ADD STRING VALUE>',
                    destination_radius: 0,
                    load_size: '<ADD STRING VALUE>' } },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("POST", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            req.type("json");
            req.send({
              "days_of_week": {},
              "email_address": "<ADD STRING VALUE>",
              "end_hour": {},
              "expires_after": {},
              "list_order": {},
              "list_type": {},
              "minute_frequency": {},
              "send_type": {},
              "start_hour": {},
              "time_zone": {},
              "search": {
                "search_id": 0,
                "search_type": "<ADD STRING VALUE>",
                "date_received": "<ADD STRING VALUE>",
                "trailers": "<ADD STRING VALUE>",
                "date_available": "<ADD STRING VALUE>",
                "origin_state": "<ADD STRING VALUE>",
                "origin_city": "<ADD STRING VALUE>",
                "origin_radius": 0,
                "destination_state": "<ADD STRING VALUE>",
                "destination_city": "<ADD STRING VALUE>",
                "destination_radius": 0,
                "load_size": "<ADD STRING VALUE>"
              }
            });

            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>
            NSDictionary *parameters = @{ @"days_of_week": @{  },
                                          @"email_address": @"<ADD STRING VALUE>",
                                          @"end_hour": @{  },
                                          @"expires_after": @{  },
                                          @"list_order": @{  },
                                          @"list_type": @{  },
                                          @"minute_frequency": @{  },
                                          @"send_type": @{  },
                                          @"start_hour": @{  },
                                          @"time_zone": @{  },
                                          @"search": @{ @"search_id": @0, @"search_type": @"<ADD STRING VALUE>", @"date_received": @"<ADD STRING VALUE>", @"trailers": @"<ADD STRING VALUE>", @"date_available": @"<ADD STRING VALUE>", @"origin_state": @"<ADD STRING VALUE>", @"origin_city": @"<ADD STRING VALUE>", @"origin_radius": @0, @"destination_state": @"<ADD STRING VALUE>", @"destination_city": @"<ADD STRING VALUE>", @"destination_radius": @0, @"load_size": @"<ADD STRING VALUE>" } };

            NSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.directfreight.com/api/alerts/%7Bboard_type%7D"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"POST"];
            [request setHTTPBody:postData];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.directfreight.com/api/alerts/%7Bboard_type%7D" in
            let body = Cohttp_lwt_body.of_string "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}" in

            Client.call ~body `POST uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("POST",
            "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");
            $request->content('{"days_of_week":{},"email_address":"<ADD STRING VALUE>","end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{},"search":{"search_id":0,"search_type":"<ADD STRING VALUE>","date_received":"<ADD STRING VALUE>","trailers":"<ADD STRING VALUE>","date_available":"<ADD STRING VALUE>","origin_state":"<ADD STRING VALUE>","origin_city":"<ADD STRING VALUE>","origin_radius":0,"destination_state":"<ADD STRING VALUE>","destination_city":"<ADD STRING VALUE>","destination_radius":0,"load_size":"<ADD STRING VALUE>"}}');
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.directfreight.com/api/alerts/%7Bboard_type%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}",
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setMethod(HTTP_METH_POST);

            $request->setBody('{"days_of_week":{},"email_address":"<ADD STRING VALUE>","end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{},"search":{"search_id":0,"search_type":"<ADD STRING VALUE>","date_received":"<ADD STRING VALUE>","trailers":"<ADD STRING VALUE>","date_available":"<ADD STRING VALUE>","origin_state":"<ADD STRING VALUE>","origin_city":"<ADD STRING VALUE>","origin_radius":0,"destination_state":"<ADD STRING VALUE>","destination_city":"<ADD STRING VALUE>","destination_radius":0,"load_size":"<ADD STRING VALUE>"}}');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $body = new http\Message\Body;
            $body->append('{"days_of_week":{},"email_address":"<ADD STRING VALUE>","end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{},"search":{"search_id":0,"search_type":"<ADD STRING VALUE>","date_received":"<ADD STRING VALUE>","trailers":"<ADD STRING VALUE>","date_available":"<ADD STRING VALUE>","origin_state":"<ADD STRING VALUE>","origin_city":"<ADD STRING VALUE>","origin_radius":0,"destination_state":"<ADD STRING VALUE>","destination_city":"<ADD STRING VALUE>","destination_radius":0,"load_size":"<ADD STRING VALUE>"}}');

            $request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setRequestMethod('POST');
            $request->setBody($body);

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.directfreight.com")

            payload = "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}"

            conn.request("POST", "/api/alerts/%7Bboard_type%7D", payload)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.directfreight.com/api/alerts/%7Bboard_type%7D"

            payload = "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}"
            response = requests.request("POST", url, data=payload)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.directfreight.com/api/alerts/%7Bboard_type%7D")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Post.new(url)
            request.body = "{\"days_of_week\":{},\"email_address\":\"<ADD STRING VALUE>\",\"end_hour\":{},\"expires_after\":{},\"list_order\":{},\"list_type\":{},\"minute_frequency\":{},\"send_type\":{},\"start_hour\":{},\"time_zone\":{},\"search\":{\"search_id\":0,\"search_type\":\"<ADD STRING VALUE>\",\"date_received\":\"<ADD STRING VALUE>\",\"trailers\":\"<ADD STRING VALUE>\",\"date_available\":\"<ADD STRING VALUE>\",\"origin_state\":\"<ADD STRING VALUE>\",\"origin_city\":\"<ADD STRING VALUE>\",\"origin_radius\":0,\"destination_state\":\"<ADD STRING VALUE>\",\"destination_city\":\"<ADD STRING VALUE>\",\"destination_radius\":0,\"load_size\":\"<ADD STRING VALUE>\"}}"

            response = http.request(request)
            puts response.read_body
        - lang: Shell_httpie
          source: |-
            echo '{"days_of_week":{},"email_address":"<ADD STRING VALUE>","end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{},"search":{"search_id":0,"search_type":"<ADD STRING VALUE>","date_received":"<ADD STRING VALUE>","trailers":"<ADD STRING VALUE>","date_available":"<ADD STRING VALUE>","origin_state":"<ADD STRING VALUE>","origin_city":"<ADD STRING VALUE>","origin_radius":0,"destination_state":"<ADD STRING VALUE>","destination_city":"<ADD STRING VALUE>","destination_radius":0,"load_size":"<ADD STRING VALUE>"}}' |  \
              http POST https://www.directfreight.com/api/alerts/%7Bboard_type%7D
        - lang: Swift_nsurlsession
          source: |-
            import Foundation
            let parameters = [
              "days_of_week": [],
              "email_address": "<ADD STRING VALUE>",
              "end_hour": [],
              "expires_after": [],
              "list_order": [],
              "list_type": [],
              "minute_frequency": [],
              "send_type": [],
              "start_hour": [],
              "time_zone": [],
              "search": [
                "search_id": 0,
                "search_type": "<ADD STRING VALUE>",
                "date_received": "<ADD STRING VALUE>",
                "trailers": "<ADD STRING VALUE>",
                "date_available": "<ADD STRING VALUE>",
                "origin_state": "<ADD STRING VALUE>",
                "origin_city": "<ADD STRING VALUE>",
                "origin_radius": 0,
                "destination_state": "<ADD STRING VALUE>",
                "destination_city": "<ADD STRING VALUE>",
                "destination_radius": 0,
                "load_size": "<ADD STRING VALUE>"
              ]
            ]

            let postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.directfreight.com/api/alerts/%7Bboard_type%7D")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "POST"
            request.HTTPBody = postData

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
        - lang: wget
          source: |-
            wget --quiet \
              --method POST \
              --body-data '{"days_of_week":{},"email_address":"<ADD STRING VALUE>","end_hour":{},"expires_after":{},"list_order":{},"list_type":{},"minute_frequency":{},"send_type":{},"start_hour":{},"time_zone":{},"search":{"search_id":0,"search_type":"<ADD STRING VALUE>","date_received":"<ADD STRING VALUE>","trailers":"<ADD STRING VALUE>","date_available":"<ADD STRING VALUE>","origin_state":"<ADD STRING VALUE>","origin_city":"<ADD STRING VALUE>","origin_radius":0,"destination_state":"<ADD STRING VALUE>","destination_city":"<ADD STRING VALUE>","destination_radius":0,"load_size":"<ADD STRING VALUE>"}}' \
              --output-document \
              - https://www.directfreight.com/api/alerts/%7Bboard_type%7D
    x-restlet:
      section: ALERTS
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "X-RESTLET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: Method not supported
        - lang: curl
          source: |-
            curl --request X-RESTLET \
              --url https://www.directfreight.com/api/alerts/%7Bboard_type%7D
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/alerts/%7Bboard_type%7D\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/alerts/%7Bboard_type%7D")
              .method("X-RESTLET", null)
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.customMethod("X-RESTLET","https://www.directfreight.com/api/alerts/%7Bboard_type%7D")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/alerts/%7Bboard_type%7D",
              "method": "X-RESTLET",
              "headers": {}
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("X-RESTLET", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "X-RESTLET",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/alerts/%7Bboard_type%7D",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'X-RESTLET',
              url: 'https://www.directfreight.com/api/alerts/%7Bboard_type%7D' };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("X-RESTLET", "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.directfreight.com/api/alerts/%7Bboard_type%7D"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"X-RESTLET"];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.directfreight.com/api/alerts/%7Bboard_type%7D" in

            Client.call (Code.method_of_string "X-RESTLET") uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("X-RESTLET",
            "https://www.directfreight.com/api/alerts/%7Bboard_type%7D");
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.directfreight.com/api/alerts/%7Bboard_type%7D",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "X-RESTLET",
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            HttpRequest::methodRegister('X-RESTLET');
            $request = new HttpRequest();
            $request->setUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setMethod(HttpRequest::HTTP_METH_X-RESTLET);

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.directfreight.com/api/alerts/%7Bboard_type%7D');
            $request->setRequestMethod('X-RESTLET');
            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.directfreight.com")

            conn.request("X-RESTLET", "/api/alerts/%7Bboard_type%7D")

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.directfreight.com/api/alerts/%7Bboard_type%7D"

            response = requests.request("X-RESTLET", url)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            class Net::HTTP::X-restlet < Net::HTTPRequest
              METHOD = 'X-RESTLET'
              REQUEST_HAS_BODY = 'false'
              RESPONSE_HAS_BODY = true
            end

            url = URI("https://www.directfreight.com/api/alerts/%7Bboard_type%7D")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::X-restlet.new(url)

            response = http.request(request)
            puts response.read_body
        - lang: Shell_httpie
          source: 'http X-RESTLET https://www.directfreight.com/api/alerts/%7Bboard_type%7D'
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.directfreight.com/api/alerts/%7Bboard_type%7D")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "X-RESTLET"

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
        - lang: wget
          source: |-
            wget --quiet \
              --method X-RESTLET \
              --output-document \
              - https://www.directfreight.com/api/alerts/%7Bboard_type%7D
  /billings:
    get:
      description: 'Will return how much the end user will be charged to upgrade. It will not charge the user, or consume the promo code.'
      parameters:
        - $ref: '#/parameters/end-user-token'
        - description: 'The promo code. '
          in: query
          name: promo_code
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/get_billing_response'
      summary: STAGE=UNK Returns the amount the end user will be charged. If a promo code is present return adjusted amount. If there are special conditions a string with the promo code benefits will also be returned.
      tags:
        - billings
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE");
            var request = new RestRequest(Method.GET);
            IRestResponse response = client.Execute(request);
        - lang: curl
          source: |-
            curl --request GET \
              --url 'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE")
              .get()
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.get("https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE",
              "method": "GET",
              "headers": {}
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("GET", "https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "GET",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/billings?promo_code=SOME_STRING_VALUE",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url: 'https://www.directfreight.com/api/billings',
              qs: { promo_code: 'SOME_STRING_VALUE' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("GET", "https://www.directfreight.com/api/billings");

            req.query({
              "promo_code": "SOME_STRING_VALUE"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE" in

            Client.call `GET uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("GET",
            "'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'");
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.directfreight.com/api/billings');
            $request->setMethod(HTTP_METH_GET);

            $request->setQueryData(array(
              'promo_code' => 'SOME_STRING_VALUE'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.directfreight.com/api/billings');
            $request->setRequestMethod('GET');
            $request->setQuery(new http\QueryString(array(
              'promo_code' => 'SOME_STRING_VALUE'
            )));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.directfreight.com")

            conn.request("GET", "/api/billings?promo_code=SOME_STRING_VALUE")

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.directfreight.com/api/billings"

            querystring = {"promo_code":"SOME_STRING_VALUE"}

            response = requests.request("GET", url, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)

            response = http.request(request)
            puts response.read_body
        - lang: Shell_httpie
          source: 'http GET ''https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'''
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "GET"

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
        - lang: wget
          source: |-
            wget --quiet \
              --method GET \
              --output-document \
              - 'https://www.directfreight.com/api/billings?promo_code=SOME_STRING_VALUE'
    post:
      consumes: []
      description: 'This function will attempt to process a payment, and upgrade a non subscibed user. '
      parameters:
        - $ref: '#/parameters/end-user-token'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/bill_user'
      responses:
        '201':
          $ref: '#/responses/object_created'
      summary: 'STAGE=UNK This function will attempt to process a payment, and upgrade a non subscibed user. '
      tags:
        - billings
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.directfreight.com/api/billings");

            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.directfreight.com/api/billings");
            var request = new RestRequest(Method.POST);
            request.AddParameter("undefined", "{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: curl
          source: |-
            curl --request POST \
              --url https://www.directfreight.com/api/billings \
              --data '{"billing_address":{},"cc_data":{},"check_data":{},"promo_code":"<ADD STRING VALUE>"}'
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.directfreight.com/api/billings\"\n\n\tpayload := strings.NewReader(\"{\\\"billing_address\\\":{},\\\"cc_data\\\":{},\\\"check_data\\\":{},\\\"promo_code\\\":\\\"<ADD STRING VALUE>\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}");
            Request request = new Request.Builder()
              .url("https://www.directfreight.com/api/billings")
              .post(body)
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.post("https://www.directfreight.com/api/billings")
              .body("{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.directfreight.com/api/billings",
              "method": "POST",
              "headers": {},
              "processData": false,
              "data": "{\"billing_address\":{},\"cc_data\":{},\"check_data\":{},\"promo_code\":\"<ADD STRING VALUE>\"}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = JSON.stringify({
              "billing_address": {},
              "cc_data": {},
              "check_data": {},
              "promo_code": "<ADD STRING VALUE>"
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("POST", "https://www.directfreight.com/api/billings");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "POST",
              "hostname": "www.directfreight.com",
              "port": null,
              "path": "/api/billings",
              "headers": {}
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

[...]
